<div class="container">


    <div class="black-background">

        @if(loading){
        <app-loading></app-loading>

        }@else {
        <div class="content">
            <div>
                <p style="font-style: normal; font-size: 3vh;margin-bottom: 2%;"> David Lino </p>
                <p> {{age}} years Old </p>
                <p> ! Just another guy </p>
                <p> From Brasil to the world</p>
                <a href="https://www.bible.com/pt/bible/211/JHN.20.24-29.NTLH"> João 20:24-29 </a>

                <a href="" style="margin:1vh ;">home</a>
                <a href="gallery" style="margin:1vh ;">gallery</a>
            </div>
            <img src="../assets/images/Ellipse10.png" alt="profile image" style="height: 50%;" />

        </div>

        <a href="https://www.linkedin.com/in/david-lino-21a4542b8">LinkedIn</a>
        <a href="https://www.instagram.com/davidlinoe/">Instagram</a>
        <p style="color: aliceblue;">Email</p>


        <hr>

        }
    </div>

</div>