<div class="container">


    <div class="black-background">
        <div class="content">
            <div>
                <p style="font-style: normal; font-size: 3vh;margin-bottom: 2%;"> David Lino </p>
                <p> Software Developer </p>
                <p> Maker Enthusiast </p>
                <p> Robotic Teacher </p>
                <p> 3D Designer </p>

                <a href="home" style="margin:1vh ;">home</a>
                <a href="gallery" style="margin:1vh ;">gallery</a>
            </div>
            <img src="../assets/images/Ellipse10.png" alt="profile image" style="height: 50%;" /> 

        </div>


        <div class="projects">


            <img src="../../assets/images/img1.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/img2.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/img3.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/img4.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/img5.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/img6.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/img7.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/img8.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/img9.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/img10.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/img11.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/img12.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/img13.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/img14.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/img15.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/img16.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/img17.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/img18.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/img19.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/img20.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/img21.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/img22.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/img23.png" alt="placeholder" class="round-image" />
 
        </div>
        <hr>

    </div>
</div>