<div class="container">


    <div class="black-background">
        <div class="content">
            <img src="../assets/images/Ellipse1.png" alt="profile image" style="height: 50%;" />
            <div>
                <p style="font-style: normal; font-size: 3vh;margin-bottom: 2%;"> David Lino </p>
                <p> Software Developer </p>
                <p> Maker Enthusiast </p>
                <p> Robotic Teacher </p>
                <p> 3D Designer </p>

                <a href="contact" style="margin:1vh ;">contact</a>
                <a href="gallery" style="margin:1vh ;">gallery</a>
            </div>

        </div>

        <hr>

        <div class="contentPurple">
            <div>
                <p> {{age}} Years Old</p>
                <p style="margin-right: 3vh;"> Maker by Hobby</p>
                <p style="margin-right: 4vh;"> 200+ Personal 3D Models</p>
                <p style="margin-right: 3vh;"> Robotics Lover And Student Since 2019</p>
                <p> Computer Science Student at Unimar Marília - SP</p>
            </div>
            <div>

                <img src="../assets/images/Ellipse2.png" alt="round image" style="height: 17vh;">
            </div>


        </div>

        <hr>

        <div class="contentPurple2">
            <div>

                <img src="../assets/images/Ellipse3.png" alt="round image" style="height: 17vh;">
            </div>
            <div>
                <p> Microcontrollers: Arduino * - Esp *</p>
                <p style="margin-left: 3vh;"> Programing: c++ - JavaScript - TypeScript - Python</p>
                <p style="margin-left: 4vh;"> Technologies: Angular - Electron - Html - Css - NodeJs</p>
                <p style="margin-left: 3vh;"> Softwares: Fusion360 - Shapr3d - Cura - EasyEDA</p>
                <p> Skills: Welding - Projecting - Programming</p>
            </div>




        </div>
        <hr>

        <p
            style="font-family:Josefin Sans,sans-serif; font-style: normal; font-size: 3vh;margin-bottom: 2%; color: #ffffff;">
            Projects </p>

        <div class="projects">


            <img src="../../assets/images/Ellipse4.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/Ellipse5.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/Ellipse6.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/Ellipse7.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/Ellipse8.png" alt="placeholder" class="round-image" />
            <img src="../../assets/images/Ellipse9.png" alt="placeholder" class="round-image" />
        </div>
        <hr>

    </div>
</div>